asgiref==3.9.1
beautifulsoup4==4.13.4
bottle==0.13.4
cffi==1.17.1
channels==4.3.1
clr_loader==0.2.7.post0
Django==4.2.23
django-bootstrap-v5==1.0.11
django-phonenumber-field==8.1.0
django-pwa==2.0.1
django-rest-framework==0.1.0
djangoajax==3.3
djangorestframework==3.16.0
fontawesomefree==6.6.0
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
phonenumbers==9.0.7
pillow==11.2.1
proxy_tools==0.1.0
pycparser==2.22
pythonnet==3.0.5
pytz==2025.2
pywebview==6.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
