<style>
    .active {
    font-weight: bold;
    color: rgba(225, 232, 240, 1); /* or any color you prefer */
    border-radius: 10px;
    
    }
    .active:hover{
        color: black;
        background-color: white;
        padding: 8px 16px;
        border-radius: 10px;
    }

    .is_active{
        color: black;
        background-color: white;
        padding: 8px 16px;
        border-radius: 10px;
    }
</style>

    <div class="container ">
        <nav class="navbar navbar-dark bg-dark mb-4 rounded-4">
            <div class="container ">
            <a href="{% url 'voting_app:vote_result' %}" 
            class="navbar-brand active {% if request.resolver_match.url_name == 'vote_result' %}is_active{% endif %}"  >
                Result
            </a>
            
            {% if request.user.is_staff %}
            <a href="{% url 'voting_app:view_admin' %}" 
            class="navbar-brand active {% if request.resolver_match.url_name == 'view_admin' %}is_active{% endif %}">
                Candidates
            </a>
            {% endif %}

            <a href="{% url 'voting_app:voter_view' %}" 
            class="navbar-brand active {% if request.resolver_match.url_name == 'voter_view' %}is_active{% endif %}">
                Voters
            </a>

            
        </div>

        </nav>
    </div>
