{% extends 'base.html' %}

{% load static %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-auto">
                
                <div class="float-end mb-10">
                    <a href="#" class="d-block text-decoration-none " id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'image/Default_pfp.jpg' %}" alt="Profile" width="30" class="rounded" style="border-radius: 10px;">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-center" style="max-width: 100px; padding: 5px;" aria-labelledby="userDropdown">
                        <li class="dropdown-item-text fw-bold" style="font-size: 14px">{{ request.user.username }}</li>
                        <li><hr class="dropdown-divider" style="margin: 2px 0;"></li>
                        <li>
                            <a href="{% url 'voting_app:login_view' %}" class="dropdown-item text-danger" style="font-size: 14px">Log out</a>
                        </li>
                    </ul>
                </div>
              
                <div class="clearfix"></div> 
                <div class="mt-2">
                    {% include 'partials/_navbar.html' %}
                </div>

                <h1 class="text-center mb-3">Candidates</h1>

                <div class="table-responsive">    
                    <table class="table table-bordered table-striped table-hover">        
                        <thead>            
                            <tr>                
                                <th>Name</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>            
                            {% for position, candidates in all_candidates.items %}
                                {% for candidate in candidates %}
                                <tr>
                                    <td>
                                        <a href="{% url 'voting_app:edit' candidate.id %}" style="color: inherit; text-decoration: none;">
                                            {{ position }}
                                        </a>
                                    </td>
                                    <td>{{ candidate.name }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}